.show-container {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-flow: row wrap;
}

.show-item {
  background: white;
  padding: 2px;
  width: 100%;
  height: 505px;
  margin-top: 50px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
  border: 0.5ch;
  border-radius: 4ch;
  border-color: solid black;
  border-style: solid;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
    5px 5px 10px rgba(0, 0, 0, 0.25);
}

.title-image {
  width: 300px;
  float: left;

  margin-left: 20px;
  border-radius: 20px;

  height: 450px;
  background-color: rgb(129, 140, 136);
}

.show-info {
  float: right;
  background-color: rgb(193, 179, 206);
  width: 80%;
  font-size: large;
  margin-right: 20px;
  display: flex;
  height: 450px;
  border-radius: 20px;
}

.show-image {
  border-radius: 20px;
}

.info-list {
  list-style-type: none;
  background-color: rgb(149, 148, 162);
  height: 200px;
  margin-left: 20px;

  padding: 5px;
  height: 405px;
}
.summary {
  background-color: rgb(114, 114, 118);
  padding: 5px;
  height: 405px;
}
